@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: rubik;
    src: url(../../fonts/rubik/Rubik-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.top_header{
    display: flex;
    background-color: rgb(255, 0, 55);
    justify-content: center;
    padding: 10px 0;
}
.top_header img{
    width: 24px;
    margin-right: 5px ;
}
.top_header a{
    font-family: roboto;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#call{
    width: 24px;
}


header{
    font-family: roboto;
    background-color: white;
    border-bottom: 1px solid rgb(236, 219, 219);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
#logo{
    margin-top: 3px;
    height: 60px;
}
header a{
    color: black;
}



.btn-call{
    background-color:rgb(255, 0, 55);
    border: 1px solid rgb(255, 0, 55);
    color: white;
    padding: 10px 15px;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 1.3rem;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 20px;
    font-weight: bold;
}
.btn-call:hover{
    background: none;
    color: white;
    border: 1px solid white;
    

}
.home-btn{
    color: rgb(255, 0, 55);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-family: rubik;
    font-weight: 400;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.home-btn .icon img{
    width: 100%;
}

.home-btn .icon{
    width: 24px;
    margin-right: 5px;
}
.home-btn:active{
    border-bottom: 2px solid rgb(255, 0, 55);
}
.home-btn:hover{
    color: rgb(100, 16, 34);
    transform: scale(1.1);
}

.home-btn .home .text{
    width: 100%;
}

.home_link{
    font-weight: 800;
}


.section_1 h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}








#more-btn{
    background-color: rgb(255, 0, 55);
    margin-top: 15px;
    padding: 8px 15px;
    text-decoration: none;
    color: rgb(243, 239, 239);
    cursor: pointer;
    font-family: roboto;
    border-radius: 5px;
    font-weight: lighter;
}


.section_4 .title_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.section_4 .title_section img{
    margin-right: 5px;
}
.section_4 {
    /* background-color: rgb(4, 5, 33); */
    font-family: roboto;
    padding: 40px 20px 80px 20px;
    position: relative;
    margin: 0 0 50px;
    background: linear-gradient(rgba(4, 5, 33, 0.961), rgba(4, 5, 33, 0.45)) ,url(../../images/map_cover.png);
    background-position: center;
    background-size: cover;
}

.section_4 .line_bottom{
    border: none;
    border-bottom: solid 4px rgb(255, 0, 55);
    width: 40px;
}

.slide{
    background: linear-gradient(rgba(0, 0, 0, 0.888), hsla(0, 0%, 0%, 0.537)), url(../../images/cover_chambre_froid.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.slide h2{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 4em;
    color: white;
    margin-bottom: 30px;
    font-family: rubik;
}

.slide .slide-more{
    background-color: rgb(255, 0, 55);
    padding: 0.4rem 1.5rem;
    border-radius: 2rem;
    margin-top:10px;
    border: rgb(255, 0, 55) solid 1px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-family: roboto;
}

.slide .slide-more:hover{
    border: white solid 1px;
    background: none;
    color: white;
}

.swipe-down{
    border: 20px solid ;
    border-color:  transparent transparent white transparent;
    /* border-radius: 50%; */
    margin-top: -10px;
    animation: swipe-down infinite ease-out 0.8s alternate;
}
@keyframes swipe-down {
    to{
        transform: translateY(10px);
    }
}



.section_2{
    padding: 30px 35px;
    background-color: rgb(237, 232, 233);
}

.section_2 h2{
    text-align: center;
    color: rgb(255, 0, 55);
    font-weight: bold;
    font-size: 2em;
    font-family: rubik;
}
.service_infos{
    padding: 40px 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.service_infos .service_picture{
    width: 700px;
}

.service_infos .service_picture img{
    width: 100%;
}


.service_infos div{
    margin: 10px;
}
.service_infos .service_description{
    font-size: 1.1em;
    font-family: roboto;
}





















.section_4 .zone{
    background-color: white;
    box-shadow: 0px 1px 100px 1px black;
    border-radius: 10px;
    margin: 30px 40px 40px 40px;
    padding: 20px;
    position: absolute;
    bottom: -50%;
    right: 0;
    left: 0;
}
.section_4 .title_section img{ 
    width: 64px;
}

.section_4 .zone img{
    width: 20px;
    margin-right: 3px;
}

.section_4 .zone ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section_4 .zone ul li span{
    text-align: start;
    font-family: roboto;
    font-weight: lighter;
}
.section_4 .zone ul li {
    margin: 5px 0;
}


.contact_sticky{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 60px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.contact_sticky a{
    background-color: rgb(255, 0, 55);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact_sticky a img{
    width: 24px;
}



footer{
    background-color: rgb(16, 16, 24);
    padding: 50px 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

footer h2{
    color: rgb(255, 0, 55);
    font-family: rubik;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

footer p{
    color: grey;
    font-family: sans-serif;
}


footer .part img{
    margin-bottom: 20px;
}
footer .part{
    text-align: center;   
}

footer .line_bottom{
    display: inline-block;
    border-style: solid;
    border-width: 8px;
    border-color:transparent transparent  rgb(214, 207, 207) transparent;
}

footer .part:first-child p{
    letter-spacing: 2px;
}

footer .part:nth-child(2) p{
    text-decoration:underline;
    
}



@media screen and (max-width:780px){

    footer h2{
        font-size: 1.2em;
    }

    footer p{
        font-size: 0.9em;
    }
}

@media screen and (max-width:550px){
    .slide h2{
        font-size: 2.5em;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
    footer .part:not(:last-child){
        margin-bottom: 50px;
    }

    footer h2{
        font-size: 1.2em;
    }

    footer p{
        font-size: 1em;
    }
    .service_infos {
        flex-wrap: wrap;

    }
    .service_infos .service_picture{
        width:300px;
    }

}
@media screen and (max-width:500px) {

    .home_link{
        display: none;
    }
    .section_1 h1{
        font-size: 2rem;
    }
    .section_1 p{
        font-size: 0.9rem;
    }

    .home-btn .home{
        display: none;
    }
    .home-btn .icon{
        width: 32px;
    }

    .section_4 {
        padding-bottom: 150px;
        margin-bottom: 100px;
    }
    .section_4 .zone ul{
        /* display: block; */
        flex-wrap: wrap;
    }

}



@media screen and (max-width: 350px){
    .slide h2{
        font-size: 2em;
    }
    
}


@media screen and (max-width:285px) {
    .slide h2{
        font-size: 2.5em;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section_2 h2{
        font-size: 1.4em;
    }
    .section_2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_1 h1{
        font-size: 1.2em;
    }
    .section_1 p{
        font-size: 0.8em;
    }
    .section_1 .btn-call{
        font-size: 0.5em;
    }

    .home-btn .home{
        display: none;
    }
    .home-btn .icon{
        width: 20px;
    }
    .section_1 .btn-call{
        font-size: 0.8em;
    }
    .section_4 .title_section h2{
        font-size: 1em;
    }
    .section_4 .title_section img{
        width: 32px;
    }

    .section_4 .title_section{
        font-size: 1em;
    }
    .section_4 img{
        width: 10px;
    }
    .section_4 .zone{
        font-size: 0.8em;
        width: 100px;
        margin: auto;
    }
    .section_4 .title_section h2{
        font-size: 1.2em;
    }

    #logo{
        height: 40px;
    }

    #services{
        font-size: 1.5em;
    }
    
    
}




@media screen and (max-width: 200px){
    footer h2{
        font-size: 0.8em;
    }

    footer p{
        font-size: 0.8em;
    }

    footer .part:first-child p{
        font-size: 1em;
    }
    .section_1 {
        padding: 40px 15px;
    }

    .slide h2{
        font-size: 1.7em;
    }
} 